<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN ADMIN</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label>Nombre</label>
        <input type="text" name="nombre" required>

        <label>Password</label>
        <input type="password" name="pass" required>

        <button type="submit">Ingresar</button>
    </form>
</body>
</html>
